<div class="impact-story-report">
  <ul class="metrics">
    {{#metrics}}
    <li>
    	 {{#values.simple}}
       <div class="meta values-simple">
          <img src="{{{static_meta.icon}}}" width="16" height="16" border="0" rel="tooltip" title="<strong>{{static_meta.provider}} {{static_meta.display_name}}</strong>: {{static_meta.description}}">
          {{#provenance_url}}
          <a class="value-and-name" target="_blank" href="{{{provenance_url}}}">
             <span class="metric-value value">{{values.raw}}</span>
             <span class="metric-name">{{ static_meta.display_name }}</span>
          </a>
          {{/provenance_url}}

          <!-- sometimes, like with facebook, there's no url. then show a span, not a link -->
          {{^provenance_url}}
          <span class="value-and-name">
             <span class="metric-value value">{{values.raw}}</span>
             <span class="metric-name">{{ static_meta.display_name }}</span>
          </span>
          {{/provenance_url}}
       </div>
       {{/values.simple}}
       {{^values.simple}}
       <div class="meta values-multiple">
          <img src="{{{static_meta.icon}}}" width="16" height="16" border="0" rel="tooltip" title="<strong>{{static_meta.provider}} {{static_meta.display_name}}</strong>: {{static_meta.description}}">
          {{#provenance_url}}
          <a class="value-and-name" target="_blank" href="{{{provenance_url}}}">
             {{#values.raw}}
             <span class="metric-name name">{{name}}</span>
             <span class="metric-value value">{{value}}</span>
             {{/values.raw}}
             <span class="metric-name">{{ static_meta.display_name }}</span>
          </a>
          {{/provenance_url}}

          <!-- sometimes, like with facebook, there's no url. then show a span, not a link -->
          {{^provenance_url}}
          <span class="value-and-name">
             {{#values.raw}}
             <span class="metric-name name">{{name}}</span>
             <span class="metric-value value">{{value}}</span>
             {{/values.raw}}
             <span class="metric-name">{{ static_meta.display_name }}</span>
          </span>
          {{/provenance_url}}
       </div>
       {{/values.simple}}

       <!-- if we've got ranges, show 'em, along sizeable div to show range -->
       {{#values.WoS}}
       <div class="line">
          <div class="metric-perc-range ci" rel="tooltip" style="margin-left: {{CI95_lower}}%; margin-right: {{CI95_upper_offset}}%;" title='Percentile range for this metric relative to a random set of items published the same year'>
             <span class="start endpoint"><span class="value">{{CI95_lower}}</span></span>
             <span class="bar"></span>
             <span class="end endpoint"><span class="value">{{CI95_upper}}</span></span>
          </div>
      </div class="line">
      {{/values.WoS}}

      <!-- if no ranges, show an NA -->
      {{^values.WoS}}
      <div class="line percentile-fail">
          <div class="percentile-fail">
              <span class="no-perc">no percentile data.</span>
          </div>
      </div>
      {{/values.WoS}}

    </li>
    {{/metrics}}
  </ul>
</div>