<ul class="metrics">
  {{#metrics}}
  <li>
     <div class="meta">
        <img src="{{{static_meta.icon}}}" width="16" height="16" border="0" rel="tooltip" title="<strong>{{static_meta.provider}} {{static_meta.display_name}}</strong>: {{static_meta.description}}">
        {{#provenance_url}}
        <a class="value-and-name" target="_blank" href="{{{provenance_url}}}">
           
           {{#values.simple}}
           <span class="metric-value value">{{values.raw}}</span>
           {{/values.simple}}
           
           {{^values.simple}}
           {{#values.raw}}
           <span class="metric-name name">{{name}}</span>
           <span class="metric-value value">{{value}}</span>
           {{/values.raw}}
           {{/values.simple}}
           
           <span class="metric-name">{{ static_meta.display_name }}</span>
        </a>
        {{/provenance_url}}

        <!-- sometimes, like with facebook, there's no url. then show a span, not a link -->
        {{^provenance_url}}
        <span class="value-and-name">
           {{#values.simple}}
           <span class="metric-value value">{{values.raw}}</span>
           {{/values.simple}}

           {{^values.simple}}
           {{#values.raw}}
           <span class="metric-name name">{{name}}</span>
           <span class="metric-value value">{{value}}</span>
           {{/values.raw}}
           {{/values.simple}}

           <span class="metric-name">{{ static_meta.display_name }}</span>
        </span>
        {{/provenance_url}}
     </div>

     <div class="line">
        <!-- if we've got ranges, show 'em, along sizeable div to show range -->
        {{#values.WoS}}
        <div class="metric-perc-range ci" rel="tooltip" style="margin-left: {{CI95_lower}}%; margin-right: {{CI95_upper_offset}}%;" title='Percentile range for this metric relative to a random set of items published the same year'>
           <span class="start endpoint"><span class="value">{{CI95_lower}}</span></span>
           <span class="bar"></span>
           <span class="end endpoint"><span class="value">{{CI95_upper}}</span></span>
        </div>
        {{/values.WoS}}

        <!-- if no ranges, show an NA -->
        {{^values.WoS}}
        <div class="percentile-fail">
              <span class="no-perc">no percentile data.</span>
        </div>
        {{/values.WoS}}
     </div>
  </li>
  {{/metrics}}
</ul>